<div fxLayout="column wrap" class="width-100 mt-20" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="width-100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="width-100" fxLayoutAlign="space-between center" [fxShow]="true">
      <div class="side-headings">
        Latest Blogs</div>
      <div (click)="seeall()" style="cursor:pointer;">
        See all </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="row-gap :20px;" class="width-100 mt-20" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" class="card" fxLayoutAlign="space-between start" [fxShow]="true" *ngFor="let item of page.latestcard; let i = index">
      <div fxLayout="row wrap" class="card-img-box mt-5 width-100" fxLayoutAlign="start stretch" [fxShow]="true" (click)="blog(item)">
        <div wrap layoutAlign pLayoutAlign [fxShow]="true" class="card-heading">
          <img imgSrc="/Web/john-wick.jpg" width="100%">
        </div>
        <div fxLayout="row wrap" class="mt-5 width-100" fxLayoutAlign="start stretch" [fxShow]="true"><span style="font-size:9px;" class="card-heading">
          {{item.user_id}}{{item.post_date}}</span></div>
        <div fxLayout="row wrap" class="mt-5 width-100" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="card-heading">
            {{item.post_title}}
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="mt-5 social-interactions width-100" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon>thumb_up</mat-icon><mat-icon (click)="blog(item)">tab</mat-icon><mat-icon>share</mat-icon></div>
    </div>
  </div>
</div>