<footer>
  <div fxLayout="column wrap" class="mt-10 footer-text margin-sides-20" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="padding-20" fxLayoutGap="90px" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="width-23pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <a href class="text-decoration-none"><img class="blogging-logo" src="../../assets/Web/Icons/blogging.avif" alt></a><br>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            Crafts narratives that ignite inspiration,Knowledge and entertainment.</div>
        </div>
        <div fxLayout="row wrap" class="mt-20" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <a href="https://twitter.com/Neutrinos_co?t=OsGLxbKF1qaNYnLKontOJw&amp;s=08" target="www.twitter.com"><img class src="../../assets/Web/Icons/twitter48.svg" alt></a>
          </div>
          <div>
            <a href="https://www.facebook.com/Neutrinos.co?mibextid=ZbWKwL" target="www.facebook.com"><img class src="../../assets/Web/Icons/facebook.svg" alt></a>
          </div>
          <div>
            <a href="https://web.whatsapp.com/" target="www.web.whatsapp.com"><img class src="../../assets/Web/Icons/whatsapp.svg" alt></a>
          </div>
          <div>
            <a href="https://instagram.com/neutrinos.co?igshid=MzRlODBiNWFlZA==" target="www.instagram.com"><img class src="../../assets/Web/Icons/instagram48.svg" alt></a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/neutrinosbuildnextincredible/" target="www.linkedin.com.com"><img class src="../../assets/Web/Icons/linkedin-icon.svg" alt></a>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" class="ml-5pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <h2 class="color-black">
          Business</h2>
        <div class="cursor">
          <p>Startup</p>
          <p>Markets</p>
        </div>
      </div>
      <div fxLayout="column wrap" class="ml-3pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <h2 class="color-black">
          Technology</h2>
        <div class="cursor">
          <p>Gadget</p>
          <p>Future Tech</p>
        </div>
      </div>
      <div fxLayout="column wrap" class="ml-3pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <h2 class="color-black">
          Travel</h2>
        <div class="cursor">
          <p>Destinations</p>
          <p>Food &amp; Drink</p>
          <p>Stay</p>
          <p>News</p>
        </div>
      </div>
      <div fxLayout="column wrap" class="ml-3pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <h2 class="color-black">
          Sports</h2>
        <div class="cursor">
          <p>Football</p>
          <p>Motosports</p>
          <p>Esports</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="ml30pc mt-3pc" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="width-100">
        <p>&#xA9;&#xA0;2023, Blogging Platform.All Rights Reserved | Hosted by&#xA0;<b>Neutrinos</b>&#xA0;|&#xA0;<a href="#" class="text-black">Privacy &amp; Cookies Policy</a></p>
      </div>
    </div>
  </div>
</footer>