<footer class="footer-bg">
  <div fxLayout="column wrap" class="footer-text margin-sides-20" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="padding-20" fxLayoutGap="90px" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3>
          Download</h3>
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="Web/Icons/playstore.svg" class="cursor"><img imgSrc="Web/Icons/apple-logo.svg" class="cursor"></div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3>
          Contact us</h3>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <a href="www.gmail.com" class="text-decoration-none"><img class src="../../assets/Web/Icons/gmail-icon.svg" alt></a><br>
          </div>
          <div>
            <a href="mailto:comms@neutrinos.co" class="text-decoration-none"><img class src="../../assets/Web/Icons/phone-icon.png" alt></a><br>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" class="width-10pc" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3>
          About us</h3>
        <p>
          <a href class="text-decoration-none"><img class="blogging-logo" src="../../assets/Web/Icons/blogging.avif" alt></a><br>Blogging Platform is a digital innovation catalyst that empowers enterprises to champion the digital journey making process with a
          composability first approach, helping bring imaginative pathways to digital realities and to share ther innovative ideas in social media.
        </p>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3>
          Social Links</h3>
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <a href="https://twitter.com/Neutrinos_co?t=OsGLxbKF1qaNYnLKontOJw&amp;s=08" target="www.twitter.com"><img class src="../../assets/Web/Icons/twitter48.svg" alt></a>
          </div>
          <div>
            <a href="https://www.facebook.com/Neutrinos.co?mibextid=ZbWKwL" target="www.facebook.com"><img class src="../../assets/Web/Icons/facebook.svg" alt></a>
          </div>
          <div>
            <a href="https://web.whatsapp.com/" target="www.web.whatsapp.com"><img class src="../../assets/Web/Icons/whatsapp.svg" alt></a>
          </div>
          <div>
            <a href="https://instagram.com/neutrinos.co?igshid=MzRlODBiNWFlZA==" target="www.instagram.com"><img class src="../../assets/Web/Icons/instagram48.svg" alt></a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/neutrinosbuildnextincredible/" target="www.linkedin.com.com"><img class src="../../assets/Web/Icons/linkedin-icon.svg" alt></a>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="width-99">
        <hr class="width-100"> <br>
        <p class="copyrights ml35pc">&#xA9;&#xA0;2023 Neutrinos.All Rights Reserved | Hosted by&#xA0;<b>Neutrinos</b>&#xA0;|&#xA0;<a href="#" class="text-black">Privacy &amp; Cookies Policy</a></p>
      </div>
    </div>
  </div>
</footer>